<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="GasTypeConfiguration" type="CommonLib.Config.NameCodeConfigurationSection,CommonLib"/>
    <section name="UnitConfiguration" type="CommonLib.Config.NameCodeConfigurationSection,CommonLib"/>
    <section name="UIAuto" type="CalibrationTool.UIAuto.UIAutoSection,CalibrationTool"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!--气体类型配置-->
  <GasTypeConfiguration>
    <Collection>
      <add name="空气(Air)" code="8"/>
      <add name="氩气(Ar)" code="4"/>
      <add name="二氧化碳(CO₂)" code="25"/>
      <add name="氦气(He)" code="1"/>
      <add name="氢气(H₂)" code="7"/>
      <add name="甲烷(CH₄)" code="28"/>
      <add name="氮气(N₂)" code="13"/>
      <add name="氧气(O₂)" code="15"/>
    </Collection>
  </GasTypeConfiguration>
  <!--单位配置-->
  <UnitConfiguration>
    <Collection>
      <add name="SCCM" code="10"/>
      <add name="UCCM" code="11"/>
      <add name="CCM" code="12"/>
      <add name="SLM" code="100"/>
    </Collection>
  </UnitConfiguration>
  <!--界面自动生成-->
  <!--<UIAuto>
    <Tabs>
      <Tab Header="自动生成">
        <Groups>
          <Group Header="标定">
            <Commands>
              <Command Name="CaliCommand" Description="CALI指令" Type="ASCII">
                <Actions>
                  <Action Name="CaliAction" Description="发送CALI!" Format="CALI!"></Action>
                </Actions>
              </Command>
            </Commands>
          </Group>
          <Group Header="测量1~5V电压">
            <Commands>
              <Command Name="AvStartCommand" Description="AvStart指令">
                <Parameters>
                  <Parameter Name="Volt" Description="电压(mV)" Type="float"></Parameter>
                </Parameters>
                <Actions>
                  <Action Name="AV_START" Description="AV__START" Format="AV_START:{Volt}!"></Action>
                  <Action Name="AV_STOP" Description="AV__STOP" Format="AV_STOP!"></Action>
                </Actions>
              </Command>
            </Commands>
          </Group>
          <Group Header="CHECK1~5V电压">
            <Commands>
              <Command Name="CHECK" Description="Check指令">
                <Parameters>
                  <Parameter Name="Volt" Description="电压(mV)" Type="float"></Parameter>
                  <Parameter Name="K" Description="斜率" Type="float"></Parameter>
                  <Parameter Name="D" Description="截距" Type="float"></Parameter>
                </Parameters>
                <Actions>
                  <Action Name="CHECK" Description="检查" Format="AI_START:{Volt};{K};{D}!"></Action>
                  <Action Name="CheckStop" Description="停止检查" Format="CHECK_STOP!"></Action>
                </Actions>
              </Command>
            </Commands>
          </Group>
        </Groups>
      </Tab>
    </Tabs>
  </UIAuto>-->
</configuration>