<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="PortName" value="COM2"/>
    <add key="BaudRate" value="9600"/>
    <add key="Parity" value="Even"/>
    <add key=""/>
  </appSettings>
</configuration>