<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GasTypeConfiguration" type="CommonLib.Config.NameCodeConfigurationSection,CommonLib" />
    <section name="UnitConfiguration" type="CommonLib.Config.NameCodeConfigurationSection,CommonLib" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="AppName" value="MFCSoftware" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!--气体类型配置-->
  <GasTypeConfiguration>
    <Collection>
      <add name="空气(Air)" code="8" />
      <add name="氩气(Ar)" code="4" />
      <add name="二氧化碳(CO₂)" code="25" />
      <add name="氦气(He)" code="1" />
      <add name="氢气(H₂)" code="7" />
      <add name="甲烷(CH₄)" code="28" />
      <add name="氮气(N₂)" code="13" />
      <add name="氧气(O₂)" code="15" />
    </Collection>
  </GasTypeConfiguration>
  <!--单位配置-->
  <UnitConfiguration>
    <Collection>
      <add name="SCCM" code="10" />
      <add name="UCCM" code="11" />
      <add name="CCM" code="12" />
      <add name="SLM" code="100" />
    </Collection>
  </UnitConfiguration>
</configuration>